<!DOCTYPE html>
<html lang="en" ng-app="MainApp">
<head>
    <title>MYTODO - Do your stuff</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>

    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="MainController">

<div class="container-fluid">

    <!--HEADER IS ONE ROW-->
    <div class="row text-center">
        <h1>MYTODO</h1>
        <div class="lead">Do your stuff</div>
    </div>

    <hr>

    <!--ONE ROW FOR THE LIST | DETAIL -->
    <div class="row">
        <div class="demo-content border-show col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0" id="containerTaskList">

                    <p class="border-show row text-center" ng-repeat="task in tasks" ng-click="focusTask(task.title)">
                        {{task.title}}
                    </p>
        </div>

        <div class="border-show demo-content col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 " id="containerTaskDetail">
            <p class="border-show text-center">{{selectedTask}}</p>
        </div>
    </div>
</div>


<script src="js/out.js"></script>

</body>
</html>
